/*
px para medidas de imagens
rem para medidas de fontes e outras medidas
*/

/*Estilização do Header*/

header {
  width: 100%;
  height: 100px;
  padding: 0.625rem 0.938rem;
  background-color: #fff;
  display: flex;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.header-content img {
  width: 150px;
}

.header-content nav a {
  font-size: 1.125rem; /*18 px*/
  text-decoration: none;
  color: #000;
  padding: 0.313rem; /*5px*/
  margin: auto 0.313rem;
}

.header-content nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Estilização do Main*/

/*Secao Capa*/

.secao-capa {
  height: 80%;
  background-color: #000;
  background-image: url('/public/assets/images/capa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secao-capa-content {
  width: 100%;
  height: 100%;
  padding: 1.25rem; /*20px*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.secao-capa-content * {
  max-width: 31.25rem; /*500px*/
  font-family: 'Anybody', cursive;
}

.secao-capa-content h1 {
  color: #fff;
  font-size: 3.75rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.313rem; /*5px*/
  line-height: 4.375rem; /*70px*/
}

.secao-capa-content p {
  font-size: 2.25rem;
  color: rgb(196, 196, 196);
}

/*Secao Produtos*/

.secao-produtos {
  width: 100%;
  text-align: center;
  padding: 6.25rem 1.25rem;
}

.secao-produtos-content .cards {
  margin: 3.125rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.secao-produtos-content .cards .card {
  background-color: #f6f6f6;
  width: calc(50% - 0.938rem);
  padding: 1.25rem 0.625rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secao-produtos-content .cards .card h2 {
  margin: 0;
  font-size: 2rem; /*32px*/
}

.secao-produtos-content .cards .card img {
  width: 80%;
  max-height: 150px;
  margin: 1.875rem auto;
  object-fit: contain;
}

.secao-produtos-content .cards .card p {
  margin: 0;
  font-weight: bold;
  font-size: 1.375rem; /*22px*/
}

.secao-produtos-content ul {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secao-produtos-content ul li {
  text-align: left;
  margin: 0.313rem;
}

/*Secao Sobre*/

.secao-sobre {
  background-color: #f8f7ff;
  padding: 6.25rem 1.25rem;
  text-align: center;
}

.secao-sobre-content p {
  line-height: 2rem;
}

.secao-sobre-content .cards {
  margin-bottom: 3.125rem;
  display: flex;
  flex-flow: row wrap;
}

.secao-sobre-content .cards img, .secao-sobre-content .cards div {
  width: 50%;
  max-height: 300px;
  border: 1px solid #a2adad;
}

.secao-sobre-content .cards img {
  object-fit: cover;
}

.secao-sobre-content .cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1.25rem 1.563rem;
}

.secao-sobre-content .cards div h2 {
  font-size: 2.25rem;
  font-family: 'Anybody', cursive;
  letter-spacing: 0.313rem;
  line-height: 2.625rem;
}

.secao-sobre-content .cards div p {
  font-size: 1.375rem;
  color: #4a4a4a;
}

/*Secao Contato*/

.secao-contato {
  width: 100%;
  padding: 6.25rem 1.25rem;
  text-align: center;
  color: #fff;
  background-color: #05031b;
}

.secao-contato-content > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.secao-contato-content .meios-contato, .secao-contato-content .redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.938rem;
}

.secao-contato-content .meios-contato div, .secao-contato-content .redes-sociais div {
  display: flex;
  align-items: center;
  margin: 0.313rem 0;
}

.secao-contato-content .meios-contato div p, .secao-contato-content .redes-sociais div p {
  font-size: 0.875rem;
  margin-left: 0.625rem;
}

.secao-contato-content img {
  width: 18px;
}

/*Footer*/

footer {
  background-color: #030303;
  text-align: center;
  color: #adadad;
  padding: 1.25rem;
}